body{
  display: grid;
  justify-items: center;
  background-color: rgb(221, 221, 221);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
  list-style-type: none;
}